<div class="row sidebar-module">
    <ul col-md-offset-3 col-md-9 list-group>
        <li class="list-group-item list-group-item-danger">
            <strong>
                <i class="fa fa-line-chart"></i>
                <span>&nbsp;&nbsp;Charts</span>
            </strong>
        </li>
        <li class="list-group-item">
            <canvas id="pie" class="chart chart-pie"
                    chart-data="chartData" chart-labels="chartLabels" chart-colours="['#0000FF','#FF0000']">
            </canvas>
        </li>
    </ul>
</div>