<div class="pagination" ng-show="totalPages>1">
    <li ng-class="currentPage===1 ? 'disabled' : ''">
        <a href="" ng-click="pageChanged(1)"><<</a>
    </li>
    <li ng-class="currentPage===1 ? 'disabled' : ''">
        <a href="" ng-click="pageChanged(currentPage-1)"><</a>
    </li>
</div>
<div class="pagination" ng-show="totalPages>1" ng-repeat="n in pageList">
    <li ng-class="currentPage===n ? 'active' : ''">
        <a href="" ng-click="pageChanged(n)">{{n}}</a>
    </li>
</div>
<div class="pagination" ng-show="totalPages>1">
    <li ng-class="currentPage===totalPages ? 'disabled' : ''">
        <a href="" ng-click="pageChanged(currentPage+1)">></a>
    </li>
    <li ng-class="currentPage===totalPages ? 'disabled' : ''">
        <a href="" ng-click="pageChanged(totalPages)">>></a>
    </li>
</div>
<div class="pagination">
    <li><a>Total: {{totalPages}} Pages</a></li>
</div>